@font-face{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot'),
         url('polices/ballpark.woff'),
         url('polices/ballpark.ttf'),
         url('polices/ballpark.svg');
}

@font-face{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot'),
         url('polices/dayrom.woff'),
         url('polices/dayrom.ttf'),
         url('polices/dayrom.svg');
}

body{
    background: url('images/fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    width: 900px;
    margin: auto;
}

#nav_ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav_li{
    margin: 5px;
}

section{
    display: flex;
    word-break: break-all;
}

article, aside{
    text-align: justify;
    margin-right: 25px;
}

article{
    width: 800px;
}

aside{
    margin-right: 5px;
}

footer{
    display: flex;
    justify-content: space-between;
}

#liste{
    display: flex;
    justify-content: space-between;
    list-style-image: url(images/ico_liensexterne.png);   
}